*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin-left: 100px;
}

li {
    margin-top: 20px;
    list-style-type: none;
    margin-left: 80px;
    margin-bottom: 20px;
}

li a{
    text-decoration: none; 
    font-size: 32px;
    color: blue;
}

li a:hover{
    color: crimson;
}